/* Весь скроллбар */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}


/* Ползунок (ручка) */
::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* серый */
    border-radius: 6px;
}

.green-scroll::-webkit-scrollbar-thumb {
    background-color: #64efac; /* серый */
    border-radius: 6px;
}

/* Трек (фон полосы) */
::-webkit-scrollbar-track {
    background: #1f2937; /* тёмный фон */
    border-radius: 6px;
}

#yamlImportBox {
    position: fixed;
    top: 20px;
    right: 270px;
}

#examplesBox {
    position: fixed;
    top: 20px;
    right: 370px;
}

#shapeGrid {
    width: 160px;
}

.example-option-button {
    margin: 5px;
    padding: 5px;
    border: solid white 1px;
    border-radius: 7px;
    background: #1f2937;
}

.import-button {
    position: absolute;
    top: 76px;
    right: 132px;
}

.example-button {
    position: absolute;
    top: 76px;
    right: 255px;
}

header {
    background: #111827;
    height: 60px;
    width: 100%;
    padding: 15px;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}
.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.grid {
    display: grid;
}

.popup.background {
    position: fixed;
    top: 50%;
    left: 50%;
    background: radial-gradient(farthest-corner at center, rgba(0,129,106,0.75) 0%, rgba(163,255,195,0.11) 60%, transparent 100%);
    font-size: 18px;
    text-align: center;
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transform: translate(-50%, -50%) scale(0);
    z-index: 100;
    width: 120%;
    height: 120%;
}

.popup.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup .box {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    background: #111827;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px white;
}

.popup .box p{
    font-size: 15px;
    color: #c8c8c8;
}